/* 풀페이지 섹션 04 */
/* 섹션 04 슬라이드01 디자인 */
.section04_title {position:absolute; left:50%; -webkit-transform:translate(-50%); -ms-transform:translate(-50%); transform:translate(-50%); top:10px;}

.section04_slide_title_wrap {position:absolute; top:70px; width:33.33%; z-index:1;}
.section04_slide_title_wrap ul {width:100%; padding:0 5%;}
.section04_slide_title_wrap ul li {padding:0 22px; display:inline-block; font-size:0.9rem;}
.section04_slide_title_wrap ul li:nth-child(2) {text-align:center; font-size:1.4rem; position:absolute; left:50%; -webkit-transform:translate(-50%); -ms-transform:translate(-50%); transform:translate(-50%); line-height: 18px;}
.section04_slide_title_wrap ul li:nth-child(3) {float:right;}

.gallery_position_wrap {width:100%; height:100%; position:relative;padding:110px 0 5% 0;}
.gallery_wrap {
    width:100%; height:95%;
    position:absolute; bottom:6%; padding:110px 5% 0 5%;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:repeat(12,1fr);
    -ms-grid-rows:1fr 1fr 1fr 1fr 1fr 1fr 30px;
    grid-template-rows:repeat(6,1fr) 30px;
}

.gallery_grid {width:100%; -webkit-transform-origin: 50% 70%; -ms-transform-origin: 50% 70%; transform-origin: 50% 70%;}
.gallery_grid:hover {-webkit-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5); -webkit-transition:-webkit-transform 0.4s; transition:-webkit-transform 0.4s; -o-transition:transform 0.4s; transition:transform 0.4s; transition:transform 0.4s, -webkit-transform 0.4s;}

.ext01 {background:url("../img/gallery/extrior11.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext02 {background:url("../img/gallery/extrior10.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext03 {background:url("../img/gallery/extrior01.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext04 {background:url("../img/gallery/extrior04.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext05 {background:url("../img/gallery/extrior03.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext06 {background:url("../img/gallery/extrior06.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext07 {background:url("../img/gallery/extrior05.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext08 {background:url("../img/gallery/extrior02.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext09 {background:url("../img/gallery/extrior08.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext10 {background:url("../img/gallery/extrior07.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.ext11 {background:url("../img/gallery/extrior09.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}

.int01 {background:url("../img/gallery/interior_01.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int02 {background:url("../img/gallery/interior_02.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int03 {background:url("../img/gallery/interior_03.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int04 {background:url("../img/gallery/interior_04.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int05 {background:url("../img/gallery/interior_05.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int06 {background:url("../img/gallery/interior_bullitt_01.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int07 {background:url("../img/gallery/interior_gt350_01.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int08 {background:url("../img/gallery/interior_gt350_02.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int09 {background:url("../img/gallery/interior_gt350_03.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}
.int10 {background:url("../img/gallery/interior_gt350_04.jpg") no-repeat center; -webkit-background-size:cover; background-size:cover;}

.moreview {background-color:#2D96CD;}
.moreview h3 {width:100%; height:100%; text-align:center; position:relative;}
.moreview h3 a {display:block; position:absolute; bottom:50%; left:50%; -webkit-transform:translate(-50%,50%); -ms-transform:translate(-50%,50%); transform:translate(-50%,50%);}
.moreview:hover {-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2); color:#fff; text-shadow:1px 1px 2px #000;}

.video_wrap {position:absolute; top:100px; width:33.3%; height:100%; padding-bottom:160px; text-align:center; overflow:hidden;}
.video {width:450px; height:30%; margin:12px; display:inline-block;}
.video iframe {width:100%; height:100%;}


@media screen and (min-width:1024px) {
 
    .ext01 {-ms-grid-column:1;-ms-grid-column-span:5;grid-column:1/6; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .ext02 {-ms-grid-column:6;-ms-grid-column-span:3;grid-column:6/9; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1/2;}
    .ext03 {-ms-grid-column:6;-ms-grid-column-span:3;grid-column:6/9; -ms-grid-row:2; -ms-grid-row-span:1; grid-row:2/3;}
    .ext04 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .ext05 {-ms-grid-column:1;-ms-grid-column-span:3;grid-column:1/4; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext06 {-ms-grid-column:4;-ms-grid-column-span:3;grid-column:4/7; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext07 {-ms-grid-column:7;-ms-grid-column-span:3;grid-column:7/10; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext08 {-ms-grid-column:10;-ms-grid-column-span:3;grid-column:10/13; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext09 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    .ext10 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    .ext11 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    
    .int01 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int02 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int03 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int04 {-ms-grid-column:1;-ms-grid-column-span:3;grid-column:1/4; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .int05 {-ms-grid-column:4;-ms-grid-column-span:3;grid-column:4/7; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .int06 {-ms-grid-column:7;-ms-grid-column-span:3;grid-column:7/10; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .int07 {-ms-grid-column:10;-ms-grid-column-span:3;grid-column:10/13; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .int08 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    .int09 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    .int10 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    
    .moreview {-ms-grid-column:1;-ms-grid-column-span:12;grid-column:1/13; -ms-grid-row:7; -ms-grid-row-span:1; grid-row:7/8;}
    
}

@media screen and (min-width:480px) and (max-width:1023px) {
 
    .ext01 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .ext02 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1/2;}
    .ext03 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:2; -ms-grid-row-span:1; grid-row:2/3;}
    .ext04 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .ext05 {-ms-grid-column:1;-ms-grid-column-span:5;grid-column:1/6; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext06 {-ms-grid-column:6;-ms-grid-column-span:4;grid-column:6/10; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext07 {-ms-grid-column:10;-ms-grid-column-span:3;grid-column:10/13; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .ext08 {-ms-grid-column:1;-ms-grid-column-span:3;grid-column:1/4; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    .ext09 {-ms-grid-column:4;-ms-grid-column-span:4;grid-column:4/8; -ms-grid-row:5; -ms-grid-row-span:1; grid-row:5/6;}
    .ext10 {-ms-grid-column:4;-ms-grid-column-span:4;grid-column:4/8; -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6/7;}
    .ext11 {-ms-grid-column:8;-ms-grid-column-span:5;grid-column:8/13; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    
    .int01 {-ms-grid-column:1;-ms-grid-column-span:5;grid-column:1/6; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int02 {-ms-grid-column:6;-ms-grid-column-span:4;grid-column:6/10; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int03 {-ms-grid-column:10;-ms-grid-column-span:3;grid-column:10/13; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int04 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:3; -ms-grid-row-span:1; grid-row:3/4;}
    .int05 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:4; -ms-grid-row-span:2; grid-row:4/6;}
    .int06 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .int07 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:3; -ms-grid-row-span:2; grid-row:3/5;}
    .int08 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6/7;}
    .int09 {-ms-grid-column:5;-ms-grid-column-span:5;grid-column:5/10; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    .int10 {-ms-grid-column:10;-ms-grid-column-span:3;grid-column:10/13; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    
    .moreview {-ms-grid-column:1;-ms-grid-column-span:12;grid-column:1/13; -ms-grid-row:7; -ms-grid-row-span:1; grid-row:7/8;}
    
    .video {width:80%; height:45%;}
    .video03 {display:none;}
    .video04 {display:none;}
    .video05 {display:none;}
    .video06 {display:none;}
}



@media screen and (max-width:479px) {
    
    .gallery_wrap {padding-top:100px;}
    .moreview h3 a {font-size:0.9rem;}

    .ext01 {-ms-grid-column:1;-ms-grid-column-span:6;grid-column:1/7; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1/2;}
    .ext02 {-ms-grid-column:1;-ms-grid-column-span:6;grid-column:1/7; -ms-grid-row:2; -ms-grid-row-span:2; grid-row:2/4;}
    .ext03 {-ms-grid-column:7;-ms-grid-column-span:6;grid-column:7/13; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .ext04 {-ms-grid-column:1;-ms-grid-column-span:6;grid-column:1/7; -ms-grid-row:4; -ms-grid-row-span:1; grid-row:4/5;}
    .ext05 {-ms-grid-column:7;-ms-grid-column-span:6;grid-column:7/13; -ms-grid-row:3; -ms-grid-row-span:1; grid-row:3/4;}
    .ext06 {-ms-grid-column:7;-ms-grid-column-span:6;grid-column:7/13; -ms-grid-row:4; -ms-grid-row-span:1; grid-row:4/5;}
    .ext07 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:5; -ms-grid-row-span:1; grid-row:5/6;}
    .ext08 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6/7;}
    .ext09 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:5; -ms-grid-row-span:1; grid-row:5/6;}
    .ext10 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6/7;}
    .ext11 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    
    .int01 {-ms-grid-column:1;-ms-grid-column-span:6;grid-column:1/7; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1/2;}
    .int02 {-ms-grid-column:1;-ms-grid-column-span:6;grid-column:1/7; -ms-grid-row:2; -ms-grid-row-span:2; grid-row:2/4;}
    .int03 {-ms-grid-column:7;-ms-grid-column-span:6;grid-column:7/13; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1/3;}
    .int04 {-ms-grid-column:1;-ms-grid-column-span:6;grid-column:1/7; -ms-grid-row:4; -ms-grid-row-span:1; grid-row:4/5;}
    .int05 {-ms-grid-column:7;-ms-grid-column-span:6;grid-column:7/13; -ms-grid-row:3; -ms-grid-row-span:1; grid-row:3/4;}
    .int06 {-ms-grid-column:7;-ms-grid-column-span:6;grid-column:7/13; -ms-grid-row:4; -ms-grid-row-span:1; grid-row:4/5;}
    .int07 {-ms-grid-column:5;-ms-grid-column-span:4;grid-column:5/9; -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6/7;}
    .int08 {-ms-grid-column:1;-ms-grid-column-span:4;grid-column:1/5; -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6/7;}
    .int09 {-ms-grid-column:1;-ms-grid-column-span:8;grid-column:1/9; -ms-grid-row:5; -ms-grid-row-span:1; grid-row:5/6;}
    .int10 {-ms-grid-column:9;-ms-grid-column-span:4;grid-column:9/13; -ms-grid-row:5; -ms-grid-row-span:2; grid-row:5/7;}
    
    .moreview {-ms-grid-column:1;-ms-grid-column-span:12;grid-column:1/13; -ms-grid-row:7; -ms-grid-row-span:1; grid-row:7/8;}
    
    .video04 {display:none;}
    .video05 {display:none;}
    .video06 {display:none;}
    
}